{% extends "base.html" %}
{% load sekizai_tags %}
{% load i18n %}


{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Welcome!" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block titletag %}
<div id="title-tag">
    <p><a href="/">Hello,</p><p><a href="/">there!</a></p>
</div>
{% endblock %}

{% block motto %}
<div id="motto"><span>Don't just consume tech, create it!</span></div>
{% endblock %}

{% block main %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="/static/js/countdown/jquery.countdown.css">
<style>
.dd_bg_cont {
  max-height: 780px;
  background-image: url(/static/img/dd_curtain.jpg);
}
h1 {display: none;}
.middle {
  margin-top: 230px;
}
#title-tag {
  margin-top: 180px;
  top: 200p;
  width: 100%;
}
#title-tag p {
  padding-left: 80px;
  z-index: 1;
  width: 880px;
  margin: 0 auto 10px auto;
}

#title-tag p a {
  background-color: white;
  color: black;
  font-family: "bebas-neue";
  font-size: 40px;
  line-height: 48px;
  text-decoration: none;
  padding: 0 5px 0 5px;
}

#countdown_container p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}


#main-block {
  padding: 10px 0 0 0;
  width: 960px;
}

</style>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="/static/js/countdown/jquery.countdown.js"></script>
<script type="text/javascript">
$(function() {
    $('#countdown').countdown({until: new Date(2014, 1, 11, 14, 14, 14), format: 'DHMS'});

    $('.row').eq(0).before("");

    var motto = $('#motto');

    var originalFontSize = parseInt(motto.css('font-size'));
    var sectionWidth = 960;

    var spanWidth = $('#motto span').width();
    var newFontSize = sectionWidth / spanWidth * originalFontSize;
    console.log(spanWidth);
    //motto.css({"font-size" : newFontSize + 'px', "line-height" : newFontSize/1.2 + "px"});
});
</script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
{% endaddtoblock %}
{% blocktrans %}

<div id="countdown_container">
    <p>Doors open February 11 at 14:14:14 in</p>
    <div id="countdown">&nbsp;</div>
</div>



{% endblocktrans %}
{% endblock %}
